.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

dialog::backdrop {
  background: rgb(41 4 4 / 57%);
}
dialog {
  border: none;
}
